<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/bootstrap"></script>
</head>
<body style="background-color: blueviolet";>
    <div class="container">
        <div class="d-flex justify-content-center row" >
            <div class="col-10" style="margin-top: 200px; margin-left:100px;">
                <h1 class="display-3" style="color:white">Page Not Found</h1>
                <p class="display-5" style="color:white">What you were looking for is just not there.</p>
                <a href="/" class="display-6" style="color:white"><b>Go Somewhere Nice</b></a>
            </div>
        </div>
        
    </div>
    
    
</body>
</html>