{% extends 'base.html' %}

{% block content %}


<h2 class="display-4">{{user.username}} found these reviews useful</h2>

<a style="margin-top: 10px;" class="btn btn-secondary btn-sm" href="/users/{{user.id}}">Go back</a>



{% if user.likes|length == 0 %}
    <h3 style="margin-top: 10px;">Sorry, no reviews found</h3>
  {% else %}

  <div class="col-sm-6" style="margin-left: 300px;margin-top: 20px;">
    <ul class="list-group" id="messages">

      {% for message in messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"></a>

          <a href="/users/{{ user.id }}">
            <img src="{{ message.meal_liked.meal.image_url}}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            
            <p style="margin-top: 10px;"><b>{{ message.meal_liked.meal.meal_name}} {%if d[message.restaurant_info]%} @ {{d[message.restaurant_info]}} {%endif%}</b></p>
            <p style="margin-top: 20px;">{{ message.text }}</p>
            <p style="margin-left:350px; font-size: 10pt;">{{message.user_likes|length}} user(s) found it useful</p>

            <p style="margin-left:200px;"><span class="text-muted">Posted by </span><a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a> on <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span> </p>
            

          </div>
          {%if g.user.id!=message.user.id%}
          <form method="POST" action="/users/add_like/{{ message.id }}" id="messages-form">
            <button class="
              btn 
              btn-sm 
              {{'btn-primary' if message in g.user.likes else 'btn-secondary'}}"
            >
              <i class="fa fa-thumbs-up"></i> 
            </button>
          </form>
          {% elif g.user.id == message.user.id %}
            <form method="POST" action="/messages/{{message.id}}/delete" id="messages-form">
            <button type="submit"style="margin-left:280px;" class="btn btn-sm btn-outline-danger">Delete</button>
            </form>
            {%endif%}
        </li>

      {% endfor %}

    </ul>
  </div>
  {%endif%}
{% endblock %}